<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Strava AeroLabs</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>

        <div class = "index-body">
        <h1>Strava AeroLabs</h1>
            <form action="/windstat" method="POST">
                Enter Segment Url:<br>
                <p><input type="text" class="textbox" name="segment_url" placeholder="--------" required><br></p>
                <p><small>example: https://www.strava.com/segments/638399</small></p>
                <p><input type="submit" value="Get Aero Data!"></p>
            </form>
        </div>
    <body class = "seg_search">
        <div style="text-align: center"><p><br>To search for a segment click here!<br></p></div>
        <div style="text-align: center"><a href="https://www.strava.com/segments/search" target="_blank">
    <button type="button" class="404button">Segment Search</button></a></div>
    </body>

        <style type="text/css">
            .index-body{
                text-align: center;
            }

            .textbox{
                width: 20%;
            }
            input, input[placeholder]
            {
                text-align: center;
            }


        </style>

    {%  block body %}

        {{ error }}

    {% endblock %}
</html>