<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Strava AeroLabs</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>

    <body class = "index">
        <div class = "index-body">
        <h1>Strava AeroLabs</h1>
        <!--<p>Please connect with Strava to Start</p>-->

    <!-- <a href=""> -->
    <!--<img src="https://strava.github.io/api/images/LogInWithStrava.png" alt="Strava Login">-->
    <!-- </a> -->
            {% block content %}
            <form action="/windstat" method="POST">
                Enter Segment ID:<br>
                <input type="text" name="segment_id"><br>
                <input type="submit" value="Submit">
            </form>
            {% endblock %}
        </div>
    </body>
</html>