<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Strava AeroLabs</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>

    <body class = "index">
        <div class = "index-body">
        <h1>Strava AeroLabs</h1>
        <!--<p>Please connect with Strava to Start</p>-->

    <!-- <a href=""> -->
    <!--<img src="https://strava.github.io/api/images/LogInWithStrava.png" alt="Strava Login">-->
    <!-- </a> -->
            <form action="/windstat" method="POST">
                Enter Segment Url:<br>
                <input type="text" class="textbox" name="segment_url" placeholder="https://www.strava.com/segments/638399"><br><br>
                <input type="submit" value="Get Aero Data!">
            </form>
        </div>

        <style type="text/css">
            .index-body{
                text-align: center;
            }

            .textbox{
                width: 265px;
            }


        </style>

    {%  block body %}

        {{ error }}

    {% endblock %}
    </body>
</html>