<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>windstat page</title>
</head>
<body>
{% block content %}
wind_dict<br>
{{wind_dict}}<br><br>

calculated_wind_assist<br>
{{calculated_wind_assist}}<br><br>

calculated_xwind<br>
{{calculated_xwind}}<br><br>

google_poly_line<br>
{{google_poly_line}}<br><br>

strava_data<br>
{{strava_data}}<br><br>

input_segment_id<br>
{{input_segment_id}}<br><br>

angle_diff<br>
{{angle_diff}}<br><br>

course_bearing<br>
{{course_bearing}}<br><br>



{% endblock %}
</body>
</html>