<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Segment Wind Data</title>
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86136802-1', 'auto');
  ga('send', 'pageview');

</script>

{% block content %}
<link rel ="stylesheet" type="text/css" href="{{url_for('static', filename='css/windstat.css')}}">
<style type="text/css">
        .wind_arrow{
        -ms-transform: rotate({{wind_dir_deg - 45 + 180}}deg); /* IE 9 */
        -webkit-transform: rotate({{wind_dir_deg - 45 + 180}}deg); /* Chrome, Safari, Opera */
        transform: rotate({{wind_dir_deg - 45 + 180}}deg);
    }
    .course_arrow{
        -ms-transform: rotate({{course_bearing - 45}}deg); /* IE 9 */
        -webkit-transform: rotate({{course_bearing - 45}}deg); /* Chrome, Safari, Opera */
        transform: rotate({{course_bearing - 45}}deg);
    }
</style>

<h1 style="text-align: center;">{{strava_data["name"]}}</h1>
    {% if assist_enum == 1: %}
    <div id ="strong_tailwind_circle"></div>
    {% elif assist_enum == 2: %}
    <div id ="moderate_tailwind_circle"></div>
    {% elif assist_enum == 3: %}
    <div id ="moderate_headwind_circle"></div>
    {% elif assist_enum == 4: %}
    <div id ="strong_headwind_circle"></div>
    {% endif %}
<h2 style="text-align: center;">{{wind_class}}</h2>
<h3 style="text-align: center;">{{"{0:0.2f}".format(calculated_wind_assist)}} mph</h3>
<h2 style="text-align: center;">Crosswind</h2>
<h3 style="text-align: center;">{{"{0:0.2f}".format(calculated_xwind)}} mph</h3>
<p style="text-align: center;"><img src="{{google_img_url}}" alt="Strava Google Map" width="300" height="300" /></p>
<table style="margin-left: auto; margin-right: auto; height: 360px; width: 720px;">
<tbody>
<tr>
<td style="text-align: center; width: 50%;">
<h3>Course Bearing</h3>
<h4>{{course_bearing}}°</h4>
</td>
<td style="text-align: center; width: 50%">
<h3>Wind</h3>
<h4>{{wind_dir_deg}}° at {{wind_speed_mph}} mph</h4>
</td>
</tr>
<tr>
<td class= arrow_box><img src="{{url_for('static', filename='images/windarrow.png')}}" alt="windarrow.png"
         class= course_arrow width="180" height="180"  /></td>
<td class= arrow_box><img src="{{url_for('static', filename='images/windarrow.png')}}" alt="windarrow.png"
         class= wind_arrow width="180" height="180" /></td>
</tr>
</tbody>
</table>
<h2 style="text-align: center;">Current time: <span id="time"><script src="{{url_for('static', filename='js/time.js')}}"></script></span></h2>

{% endblock %}
</html>